<div class="banner-down">
  <div class="row">
        <div class="banner-content">
            <div class="col-md-12 faded" style="background: white;display: flex;justify-content: center;text-align: left;">
                <div class="card" style="margin-left:20px;">
                  <div class="up-part-card positioning">
                    <div class="logo-up-part ">
                    <i class="fa fa-comments blue-and-big"></i>
                    </div>
                    <h2 class="card-title" style="font-size: 20px; text-align: center:"><span style="color:#003459">Anticiper les risques et faire du sur-mesure</span></h2>
                    </div>
                    <p class="faded-max" style="font-size: 18px;">Afin de parfaire notre formation et pouvoir faire face a toutes situations, chaque membre de notre équipe bénéficie de plusieurs années <span style="color:#007EA7">d’expérience dans de grands groupe leader du marché</span> mais également d’une <span style="color:#007EA7">expérience en entreprise “a taille humaine”</span> afin de connaitre les problématiques auxquelles sont confronté les acteurs du marché banques et assurances. C’est en étant toujours plus proche de la réalité du marché que nous pourrons vous apporter des solutions efficaces.</p>
                    <div class="div" style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
                    <p class="btn_call_action" id="lets-talk" style="width:20%;text-align: center;">Parlons en !</p>
                    <span style="font-size: 12px">Cela prend 1 minutes !</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
