<div class="banner-down" style="background-image:linear-gradient(-225deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.6) 50%), url('<%= asset_path("banner_story.jpg") %>')">
  <div class="row" style="width:100%">
  <div class="banner-content">
    <div class="col-md-6">
    <h2 style="font-size: 18px;">Il était une fois dans une galaxy lointaine trés lointaine</h2>
    </div>
  </div>
</div>
</div>
