<div class="banner-down">
  <div class="row">
        <div class="banner-content">
            <div class="col-md-6 faded" style="background: white;display: flex;justify-content: center;text-align: left;">
                <div class="card" style="margin-left:20px;">
                  <div class="up-part-card positioning">
                    <div class="logo-up-part ">
                    <i class="fa fa-male blue-and-big"></i>
                    </div>
                    <h2 class="card-title" style="font-size: 20px; text-align: center:"><span style="color:#003459">Le Courtier</span></h2>
                    </div>
                    <p class="faded-max" style="font-size: 18px;"><span style="color:#007EA7">Le secteur de l’assurance est parmi les plus rentables de France,</span> de plus, ce secteur a surtout de quoi en réjouir les acteurs puisque les professionnels prévoient de recruter 13 000 personnes par an jusqu’en 2020. Signe annonciateur d’un secteur en pleine croissance. En connaissance de cause une seule question se pose : Comment tirer son épingle du jeu ?</p>
                </div>
            </div>
            <div class="col-md-6 faded" style="background: white;display: flex;justify-content: center;text-align: left;">
                <div class="card" style="margin-right:20px;">
                  <div class="up-part-card positioning">
                    <div class="logo-up-part">
                    <i class="fa fa-users blue-and-big"></i>
                    </div>
                    <h2 class="card-title" style="font-size: 20px; text-align: center:"><span style="color:#003459">Le Courtage un Sport d'Equipe</span></h2>
                    </div>
                    <p class="faded-max" style="font-size: 18px;">Une organisation maîtriser est la clé d’une rentabilité assuré. <span style="color:#007EA7">Le courtage est un sport d’équipe, afin d’être performant chaque joueur de cette équipe doit tenir son role.</span> Un courtier efficace doit savoir déléguer les tâches chronophages nuisant à sa fonction première : L’expertise. Vous êtes vous déjà demandé combien de temps vous perdiez a faire autre choses que votre activité ?</p>
                </div>
            </div>
            <div class="col-md-6 faded" style="background: white;display: flex;justify-content: center;text-align: left;">
                <div class="card" style="margin-left:20px;">
                  <div class="up-part-card positioning">
                    <div class="logo-up-part">
                    <i class="fa fa-exclamation-circle blue-and-big"></i>
                    </div>
                    <h2 class="card-title" style="font-size: 20px; text-align: center:"><span style="color:#003459">Ses Problématique</span></h2>
                    </div>
                    <p class="faded-max" style="font-size: 18px;">Les tâches chronophage sont monnaie courante parmi les acteurs de l’assurances : Devis ,prospections ,rappelle ,conformité, entre autres. Se libérer du temps est devenu une priorité dans ces secteurs d’activité. Vous le savez , nous le savons : <span style="color:#007EA7">Le temps c’est de l’argent. Gagnons du temps : Gagnons de l’argent.</span></p>
                </div>
            </div>
            <div class="col-md-6 faded" style="background: white;display: flex;justify-content: center;text-align: left;">
                <div class="card" style="margin-right:20px;">
                  <div class="up-part-card positioning">
                    <div class="logo-up-part">
                    <i class="fa fa-line-chart blue-and-big"></i>
                    </div>
                    <h2 class="card-title" style="font-size: 20px; text-align: center:"><span style="color:#003459">Notre Analyse</span></h2>
                    </div>
                    <p class="faded-max" style="font-size: 18px;">La mission de L’Assistant est  d’<span style="color:#007EA7">accompagnement les gens dans la recherche du meiller contrat pour leur besoin</span>le courtier dans les nombreuses formalités administratives qui composent notre profession le courtier dans les nombreuses formalités administratives qui</p>
                </div>
            </div>
        </div>
    </div>
</div>
