
  <div class="container" style="width: 100%;-moz-box-shadow: 0px 3px 5px 0px #656565;
-webkit-box-shadow: 0px 3px 5px 0px #656565;
-o-box-shadow: 0px 3px 5px 0px #656565;
box-shadow: 0px 3px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);">
  <%= render 'shared/banner' %>
  <%= render 'shared/storyline' %>
  <%= render 'shared/storyline_2' %>
</div>
<div class="padded" style="padding: 5%;"></div>
