.banner {
  color: black;
  height: 70vh;
    text-align: center;
    background-size: cover !important;
    background: no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.banner-down {
 color: white;
    text-align: center;
    background-size: cover !important;
    background: no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
}

.banner-content {
  position: relative;
}
.banner-content-right {
text-align: center;
    display: flex;
    position: relative;
    width: 90%;
    justify-content: center;
}

.fa-arrow-right {
    position: relative;
    top: 7px;
    left: 15px;
    font-size: 23px;
}

#name {
  text-transform: capitalize;
}

.button_choice {
      font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 20px;
    padding: 2%;
    transition: 1s;
}

.button_choice:hover {
  color: white;
  background: #00A8E8;
  transition: 1s;
  .bleu {
    color: white;
  }
}

#step_1 {
  position: relative;
  top: 40px;
}
#step_4 {
  position: relative;
  bottom: 40px;
}

.bleu {
  color: #00A8E8;
}

.btn_call_action {
    font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 2%;
  transition: 1s;
  color: white;
  background: #00A8E8;
}

.btn_call_action:hover {
  background: #003459;
}
